body
{
  background-color: black;
}


.container
{
max-width: 1000px;
position: sticky;
margin: auto;


}

.Slides
{
display: none;
}

.number
{
  color:white;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.text
{
  background-color: linen;
  font-family: cursive;
  font-weight: bold;
}


.previous, .next
{

    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 16px;

    background-color: darkred;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next
{
  right:0;
  border-radius: 3px 0 0 3px;
}
